<section class="blog">
  <div class="container">
    <h3 class="blog__title">БЛОГ</h3>
    <div class="swiper blog__slider">
      <div class="swiper-wrapper padding-top">
        <div class="swiper-slide blog__item">
          <img class="blog__item-img" src="assets/images/blog-1.jpg" alt="" />
          <h4 class="blog__item-title">
            НЕЛЬСОН ПИКЕ СТАЛ ПОБЕДИТЕЛЕМ ГРАНД-ФИНАЛА В ПОРТИМАНЕ
          </h4>
          <p class="blog__item-text">
            Нельсон Пике-младший из Ansa Motorsports обеспечил возвращение
            титула Lamborghini Super Trofeo Grand Finals в Северную Америку
            впервые с 2017 года после победы и второе место в паре 50-минутных
            гонок на Autodromo Nacionale do Algarve в Портимане.Между тем, титул
            Pro-Am был подорван, поскольку Брайан Ортис и Себастьян Карасо
          </p>
          <a class="blog__item-link" href="#">читать подробнее...</a>
        </div>
        <div class="swiper-slide blog__item">
          <img class="blog__item-img" src="assets/images/blog-2.jpg" alt="" />
          <h4 class="blog__item-title">ГРАНД ФИНАЛ. ДЕНЬ 1</h4>
          <p class="blog__item-text">
            Утренний дождь означал, что мокрая гонка была объявлена ​​до старта,
            и перед большинством экипажей стоял выбор: использовать слики или
            мокрые шины. Большинство участников предпочли мокрую трассу, но
            поулист Спинелли начал гонку на сликах и сразу же поплатился за это.
            Huracan № 61 опустился вниз, заняв всего 28-е место, поскольку
          </p>
          <a class="blog__item-link" href="#">читать подробнее...</a>
        </div>
        <div class="swiper-slide blog__item">
          <img class="blog__item-img" src="assets/images/blog-1.jpg" alt="" />
          <h4 class="blog__item-title">
            НЕЛЬСОН ПИКЕ СТАЛ ПОБЕДИТЕЛЕМ ГРАНД-ФИНАЛА В ПОРТИМАНЕ
          </h4>
          <p class="blog__item-text">
            Нельсон Пике-младший из Ansa Motorsports обеспечил возвращение
            титула Lamborghini Super Trofeo Grand Finals в Северную Америку
            впервые с 2017 года после победы и второе место в паре 50-минутных
            гонок на Autodromo Nacionale do Algarve в Портимане.Между тем, титул
            Pro-Am был подорван, поскольку Брайан Ортис и Себастьян Карасо
          </p>
          <a class="blog__item-link" href="#">читать подробнее...</a>
        </div>
        <div class="swiper-slide blog__item">
          <img class="blog__item-img" src="assets/images/blog-2.jpg" alt="" />
          <h4 class="blog__item-title">ГРАНД ФИНАЛ. ДЕНЬ 1</h4>
          <p class="blog__item-text">
            Утренний дождь означал, что мокрая гонка была объявлена ​​до старта,
            и перед большинством экипажей стоял выбор: использовать слики или
            мокрые шины. Большинство участников предпочли мокрую трассу, но
            поулист Спинелли начал гонку на сликах и сразу же поплатился за это.
            Huracan № 61 опустился вниз, заняв всего 28-е место, поскольку
          </p>
          <a class="blog__item-link" href="#">читать подробнее...</a>
        </div>
      </div>
      <div class="blog__button swiper-button-left">
        <img src="assets/images/arrow-left.svg" alt="" />
      </div>
      <div class="blog__button swiper-button-right">
        <img src="assets/images/arrow-right.svg" alt="" />
      </div>
    </div>
    <div class="blog__quote">
      <div class="blog__quote-box">
        <blockquote class="blockquote">
          <cite class="blockquote__name">
            <span>Чемпион Am</span>
            Анджей Левандовски
          </cite>
          <p class="blockquote__text">
            «Я очень доволен титулом, моей второй победой в Am и четвертой в
            Super Trofeo, мне очень приятно делать это в этом году, потому что
            уровень соревнований очень высок. Должен сказать, сегодня было
            довольно легко, так как я все время контролировал ситуацию».
          </p>
        </blockquote>
        <blockquote class="blockquote">
          <cite class="blockquote__name">
            <span>Обладатель кубка Lamborghini</span>
            Жерар ван дер Хорст
          </cite>
          <p class="blockquote__text">
            «Я очень доволен титулом, моей второй победой в Am и четвертой в
            Super Trofeo, мне очень приятно делать это в этом году, потому что
            уровень соревнований очень высок. Должен Обладатель кубка
            Lamborghini добавил: «Здорово выиграть титул, спустя четыре года
            после последнего
          </p>
        </blockquote>
      </div>
      <img class="blog__quote-img" src="assets/images/quote.jpg" alt="" />
    </div>
  </div>
</section>
