<footer class="footer">
  <div class="container">
    <h3 class="footer__title">КОНТАКТЫ</h3>
    <div class="footer__top">
      <ul class="footer__info">
        <li class="footer__info-item">
          <dt>ОБЩИЕ</dt>
          <dd><a href="tel:+351282405600">+(351) 282 405 600</a></dd>
          <dd><a href="tel:+351282405697">+(351) 282 405 697</a></dd>
          <dd>
            <a href="mailto:info@autodromodoalgarve.com"
              >info@autodromodoalgarve.com</a
            >
          </dd>
        </li>
        <li class="footer__info-item">
          <dt>БИЛЕТЫ</dt>
          <dd><a href="tel:+351282405600">+(351) 282 405 600</a></dd>
          <dd>
            <a href="mailto:info@autodromodoalgarve.com"
              >info@autodromodoalgarve.com</a
            >
          </dd>
        </li>
        <li class="footer__info-item">
          <ul class="footer__social">
            <li class="footer__social-item">
              <a href="" class="footer__social-link"
                ><img
                  class="footer__social-img"
                  src="assets/images/social-1.svg"
                  alt=""
              /></a>
            </li>
            <li class="footer__social-item">
              <a href="" class="footer__social-link"
                ><img
                  class="footer__social-img"
                  src="assets/images/social-2.svg"
                  alt=""
              /></a>
            </li>
            <li class="footer__social-item">
              <a href="" class="footer__social-link"
                ><img
                  class="footer__social-img"
                  src="assets/images/social-3.svg"
                  alt=""
              /></a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="footer__address">
        <p class="footer__address-title">АДРЕС</p>
        <address class="footer__address-text">
          Sitio do Escampadinho, Mexilhoeira Grande, 8500-148 Portimao, Portugal
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12707.387138448279!2d-8.645179956162105!3d37.227611958893334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1b25c22df6a7bf%3A0xd6535aeaf9430917!2sStartup%20Portim%C3%A3o!5e0!3m2!1sru!2sru!4v1688239983045!5m2!1sru!2sru" width="454" height="253" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="footer__bottom">
      <a class="footer__bottom-link"  href="#">Design by Varvara Prokopchuk</a>
      <a class="footer__logo" href="#">
        <img class="footer__logo-img" src="assets/images/footer-logo.svg" alt="" />
      </a>
      <a class="footer__bottom-politeka" href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
