<header class="header">
  <div class="big-container">
    <nav class="nav">
      <ul class="menu menu-left">
        <li class="menu__item">
          <a class="menu__link" href="#">О гонке</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Трек</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Lamborghini Super trofeo</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Новости</a>
        </li>
      </ul>
      <a class="logo" href="#">
        <img class="logo__img" src="assets/images/logo.svg" alt="" />
      </a>
      <ul class="menu menu-right">
        <li class="menu__item">
          <a class="menu__link" href="#">Купить билеты</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Смотреть онлайн</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакты</a>
        </li>
      </ul>
      <button class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="menu-mobile">
        <li class="menu__item">
          <a class="menu__link" href="#">О гонке</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Трек</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Lamborghini Super trofeo</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Новости</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Купить билеты</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Смотреть онлайн</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
