<section class="track">
  <div class="container">
    <div class="track__inner">
      <h3 class="track__title">ТРЕК ПОРТИМАО</h3>
      <p class="track__text">
        Autodromo Internacional do Algarve находится в одноименном регионе на
        юге Португалии, недалеко от города Портиман. Открытый в октябре 2008
        года автогоночный комплекс является одним из самых современных в Европе,
        раскинувшись на площади около 300 гектаров среди холмов, окружающих
        португальский город, а длина самой трассы составляет 4684 метра.
      </p>
      <img class="track__img" src="assets/images/track.png" alt="" />
    </div>
  </div>
</section>
